# コンテナ名
KAGGLE_CONTAINER_NAME=sample_titanic_kaggle
MLFLOW_CONTAINER_NAME=sample_titanic_mlflow

# マウントフォルダ
INPUT_FOLDER=../input
WORKING_FOLDER=../experiment
RESULT_FOLDER=../result
MLRUNS_FOLDER=../artifact/mlruns
LOG_FOLDER=../log

# PytorchコンテナのShareMemoryサイズ
PYTORCH_CONTAINER_SHM_SIZE=8gb

# 各種ポート設定
JUPYTER_PORT=8888
MLFLOW_PORT=5000
